*{
	padding: 0;
	outline: 0;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
} 
html,body{
	background-image: url(../img/invi.jpg); 
}


table{
 display: inline-block;
 list-style: none;
 padding: 5px;
 font: bold 14px verdana, sans-serif; 
 border-spacing: 25px 5px;/*Este sirve para separar las celdas de la tabla*/
 border-collapse: separate;
 font-size: 1.25rem;
 color: black;
 background: #9E2B25;
 border-radius: 10px;

}
ul{
	margin:0;
	padding: 1rem;
	text-align: left;
	color:#2E5339;
	font-size: 2rem;


}
li{
	margin: 0;
	padding: 1rem;
	text-align: left;
	color:black;
	font-size: 1.5rem;
}

.contenedor{
	width: 100%;
	position: relative;
	height: 780px;

}

.botones{
	font-size: 30px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	font-weight: bold;
	position: absolute;
	color: #fff;
	box-shadow: 0 0 10px rgba(255, 255,255,.6);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

.botones:hover{
	cursor: pointer;
	transform: scale(1.2,1.2);

}

.atras{
	left: 2%;
	top: calc(50%-70px);
}
.adelante{
	right: 2%;
	top: calc(50%-70px);
}

header{
	text-align: center;
	font-size: 2rem;
}

footer{
	
	padding: 1rem;
	border-radius: 10px;
	margin: 1rem;
	background: #44CCFF;
}